@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Comprehensive Fire Hazard Indicator";
}
<h2 style="text-align-last:center">@ViewData["Title"]</h2>
<h3 style="text-align-last:center">@ViewData["Message"]</h3>

<h4>About Wildfires</h4>
<p>
    Uncontrolled blazes fueled by weather, wind, and dry underbrush, wildfires can burn acres of land—and consume everything in their paths—in mere minutes.

    On average, more than 100,000 wildfires, also called wildland fires or forest fires, clear 4 million to 5 million acres (1.6 million to 2 million hectares)
    of land in the U.S. every year. In recent years, wildfires have burned up to 9 million acres (3.6 million hectares) of land. A wildfire moves at speeds of
    up to 14 miles an hour (23 kilometers an hour), consuming everything—trees, brush, homes, even humans—in its path.
</p>
<h4>How They Are Formed</h4>
<p>
    There are three conditions that need to be present in order for a wildfire to burn, which firefighters refer to as the fire triangle:
    fuel, oxygen, and a heat source. Fuel is any flammable material surrounding a fire, including trees, grasses, brush, even homes.
    The greater an area's fuel load, the more intense the fire.
    Air supplies the oxygen a fire needs to burn. Heat sources help spark the wildfire and bring fuel to temperatures hot enough to ignite.
    Lightning, burning campfires or cigarettes, hot winds, and even the sun can all provide sufficient heat to spark a wildfire.
    Although four out of five wildfires are started by people, nature is usually more than happy to help fan the flames. Dry weather and drought
    convert green vegetation into bone-dry, flammable fuel; strong winds spread fire quickly over land; and warm temperatures encourage combustion.
    When these factors come together all that's needed is a spark—in the form of lightning, arson, a downed power line, or a burning campfire or cigarette—to
    ignite a blaze that could last for weeks and consume tens of thousands of acres.</p>
    <img class="firct_img" src="~/images/5b69021df1c4b900087ad361-eight.jpg" />
    <p>These violent infernos occur around the world and in most of the 50 states,
    but they are most common in the U.S. West, where heat, drought, and frequent thunderstorms create perfect wildfire conditions.
    Montana, Idaho, Wyoming, Washington, Colorado, Oregon, and California experience some of the worst conflagrations in the U.S.
    In California wildfires are often made worse by the hot, dry Santa Ana winds, which can carry a spark for miles.
</p>
<h4>How to Control or Stop Them</h4>
<p>
    Firefighters fight wildfires by depriving them of one or more of the fire triangle fundamentals. Traditional methods include water dousing and spraying fire retardants to extinguish existing fires.
    Clearing vegetation to create firebreaks starves a fire of fuel and can help slow or contain it. Firefighters also fight wildfires by deliberately starting fires in a process called controlled burning.
    These prescribed fires remove undergrowth, brush, and ground litter from a forest, depriving a wildfire of fuel.</p>
    <img class="big_img" src="~/images/macedoniafire.jpg" />
    <p>Although often harmful and destructive to humans, naturally occurring wildfires play an integral role in nature.
    They return nutrients to the soil by burning dead or decaying matter. They also act as a disinfectant, removing disease-ridden plants and harmful insects from a forest ecosystem.
    And by burning through thick canopies and brushy undergrowth, wildfires allow sunlight to reach the forest floor, enabling a new generation of seedlings to grow.
</p>
<p class="source"><a href="https://www.nationalgeographic.com/environment/natural-disasters/wildfires/">source</a> from National Geographic</p>