@model Analizer.NetCore.Models.HistoryItam

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
        text: "Fire Risk Graph"
	},
	axisX: {
		valueFormatString: "DD MMM"
	},
	axisY: {
        title: "Risk level",

		includeZero: false
	},
	data: [{
		type: "spline",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM",

		dataPoints: @Html.Raw(ViewBag.GraphModel)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <div style="text-align-last:center">@($"{Model.City}{Model.Year}")</div>
</body>
</html>              