@model System.Collections.Generic.List<FireRiskItam>;
@{
    ViewData["Title"] = "Home Page";
}
<ul>
    @{
        foreach (var m in Model)
        {
            <li><a asp-controller="Home" asp-action="History" asp-route-city="@(m.City.Name)">@m.City.Name - @m.ClassOfFireRisk</a></li>
        }
    }
</ul>
