.mapdiv{
    width:40%;
    margin:auto
}

.mapdiv path {
    
    stroke: gray;
    stroke-width: 2px;
    transition: fill 0.3s
}
.level_1{
    fill: #0BBFA1
}
.level_2{
    fill: #4cff00
}
.level_3 {
    fill: #ffd800
}
.level_4 {
    fill: #ff6a00
}
.level_5 {
    fill: #ff0000
}
